:root {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
  display: block; /* Important to remove the default center alignment */
}